@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'custom';
    src: url('./assets/fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
  }